* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #18181b;
  --btn-color: #34d399;
  --inputbd-color: #27272a; /* border and input background color*/
  --inputbckg-color: #18181b;
  --day-color: #a1a1aa;
  --font-color: #f7f3f3;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
}

#divSwitchTheme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnSwitchTheme {
  display: flex;
  width: 6rem;
  height: 4vh;
  border-radius: 40px;
  justify-content: flex-start;
}

#switchTheme {
  border-radius: 50px;
  margin-left: -10px;
  background-color: var(--day-color);
  border-color: var(--day-color);
  height: 25px;
  width: 25px;
}

#fontSwitch {
  color: var(--day-color);
}

header img {
  -webkit-box-shadow: 16px 12px 15px 0.15vh var(--btn-color);
  -moz-box-shadow: 16px 12px 15px 0.15vh var(--btn-color);
  box-shadow: 16px 12px 15px 0.15vh var(--btn-color);
}

header button img {
  box-shadow: none;
}

body {
  background-color: var(--bg-color);
  /*display: grid. place-items: center
   mesma coisa do codigo abaixo*/
  height: 100vh;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--btn-color);
  background-color: transparent;
  color: var(--font-color);
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 125%;
  cursor: pointer;
}

#register:hover {
  background-color: var(--btn-color);
  color: var(--bg-color);
  transition: 0.5s;
}

#form-habits {
  display: flex;
  padding: 182px 40px 40px;
  width: fit-content; /* encaixa o conteudo na largura, dando os devidos espaços, nesse caso, o padding  */
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 50px;
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}

.day {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono";
  font-weight: 700;
  color: var(--day-color);
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  line-height: 125%;
  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--inputbd-color);
  background-color: var(--inputbg-color);
  width: 64px;
  height: 64px;
  border-radius: 8px;
  cursor: pointer;
}

input:checked {
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
}

@media (max-width: 600px) {
  button div {
    display: none;
  }
  header {
    display: flex;
    width: 110%;
    flex-wrap: wrap;
  }
}

@media (max-width: 360px) {
  #logoHabits {
    margin-bottom: 30px;
  }
  #register {
    margin-left: 150px;
  }
}
